.l-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

#c-section__the-man {
    position: absolute;
    height: 75vh;
    top: 40vh;
    left: 40vw;
    transform: translate(0, 0);
    transition-timing-function: ease-out;
    transition-duration: .1s;
}

#c-section__the-girl {
    position: absolute;
    height: 55vh;
    top: 120vh;
    left: 30vw;
    transform: translate(0, 0);
    transition-timing-function: ease-out;
    transition-duration: .1s;
}