.l-section {
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.l-left-section {
    height: 100vh;
    width: 80vw;
    background-color: chocolate;
    transition-timing-function: cubic-bezier(0,1.01,0,1.01);
    transition-duration: 5s;
}

.l-right-section {
    height: 100vh;
    flex-grow: 1;
    background-color: green;
    transition-timing-function: cubic-bezier(0,1.01,0,1.01);
    transition-duration: 5s;
}