* {
    text-decoration: none; 
    border: none;
}

body {
    margin: 0;
    background-color: #111111;
}

html, body {
    position: relative;
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: .9em;
    font-weight: bold;
}

h5 {
    font-size: .7em;
    font-weight: 100;
}

a, button {
    pointer-events: visible;
    cursor: pointer;
}

a:focus, {
    outline: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.h-flex--row {
    display: flex;
    flex-flow: row nowrap;
}

.h-flex--col {
    display: flex;
    flex-flow: column nowrap;
}

.h-flex--center {
    justify-content: center;
    align-items: center;
}